# List of skills used for matching with the ones retrieved from the job ads. Replace with your skills in candidate_skills.txt and remove this top line
SEO
Google Analytics 4
Google Ads
Facebook Ads Manager
Copywriting
Ahrefs
Semrush
Content Strategy
English (Native)
French (B2)