# Searches that will be done when scraping. Write yours in searches.txt one per line as job title|Location|Country. Remove this top comment.  
Digital Marketing Manager|Paris|France
SEO Specialist|Berlin|Germany
Data Scientist|European Union|worldwide
Growth Hacker|Lyon|France